@model Geo.Grid.Tainan.OpenGov.Entity.Forum

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pull-right">
    <a class="btn btn-primary" href="@Url.Action("Index", "Forum")">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
        返回公民論壇清單
    </a>
</div>
<h2>新增公民論壇</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.Category)

        @Html.EditorFor(model => model.DataSetUnitId)

        @Html.EditorFor(model => model.Subject)

        @Html.EditorFor(model => model.Description)

        @Html.EditorFor(model => model.Announcement)

        @Html.EditorFor(model => model.OpenDate)

        @Html.EditorFor(model => model.CloseDate)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}