@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Geo.Grid.Tainan.OpenGov.Entity.ViewModel.Engineering.EngineeringLogVm>

<div class="container-fluid">
    <table class="table table-bordered table-striped table-hover">
        <caption class="text-right">
           
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
            {

                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                DisplayLinkToNextPage = PagedListDisplayMode.Never,
                DisplayLinkToIndividualPages = false,
                DisplayItemSliceAndTotal = true,
                ItemSliceAndTotalFormat = "顯示: {0} ~ {1} , 共 {2}"
            })
             <button onclick="window.location.href='@Url.Content("~")admin/Engineering/DownloadEngineering'" class="download btn btn-primary">
                匯出
             </button>

        </caption>
        <tr>
            <th>更新日期</th>
            <th>檔案名稱</th>
            <th width="180px">&nbsp;</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>

                    <td>@item.CreatedDateStr</td>
                    <td><a style="cursor:pointer;" onclick="DownloadCsv('@item.LogId');">@item.FileName</a></td>
                    <td>
                        <input type="button" class="btn btn-danger btn-sm" value="刪除" onclick="Delete('@item.LogId');" />
                    </td>
                </tr>
            }
        }
    </table>
</div>

<div class="container-fluid">
    <div class="col-md-9 col-lg-9 text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
    <div class="col-md-3 col-lg-3 text-left">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
            DisplayLinkToNextPage = PagedListDisplayMode.Never,
            DisplayLinkToIndividualPages = false,
            DisplayPageCountAndCurrentLocation = true,
            PageCountAndCurrentLocationFormat = "第 {0} 頁 / 共 {1} 頁"
        })
    </div>
</div>

<style>
    .pagination {
        display: block;
        float: right;
    }
    .download {
        margin: 20px 15px;
        float: right;
    }
</style>