
@{
    ViewBag.Title = "Vote";
    var key = ViewBag.key as Geo.Grid.Tainan.OpenGov.Entity.ViewModel.Admin.SearchVm;
    var participationData = ViewBag.participationData as Geo.Grid.Tainan.OpenGov.Entity.ViewModel.Participation.ParticipationDataVm;
}

<h2>標籤管理</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("新增標籤", "Create", new { id = participationData.ParticipationId }, new { @class = "btn btn-success pull-right" })
        @Html.ActionLink("返回市政參與議題", "Index", "Participation", new { }, new { @class = "btn btn-primary pull-right", style = "margin-right:10px" })
        <h4>@participationData.Subject</h4>
    </div>
</div>
<div id="qList">
    <div id="collapse4" class="body"></div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            blockList();
        })

        function blockList() {
            var $this = $('#collapse4');
            $this.html('');
            $.post('@Url.Action("_AjaxIndex", new { id = participationData.ParticipationId })', function (result) {
                $this.html(result);
            });
        }

        //排序-升
        function blockUp(nId) {
            $.post('@Url.Action("SortUp")', { id: nId }, function (result) {
                if (result.Success) {
                    blockList();
                }
            });
        }

        //排序-降
        function blockDown(nId) {
            $.post('@Url.Action("SortDown")', { id: nId }, function (result) {
                if (result.Success) {
                    blockList();
                }
            });
        }
    </script>
}