@model Geo.Grid.Tainan.OpenGov.Entity.Youtube
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pull-right">
    <a class="btn btn-primary" href="/Admin/Video/Index">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
        返回直播會議清單
    </a>
</div>
<h2>新增直播會議</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.Name)

        @Html.EditorFor(model => model.Url)

        @Html.EditorFor(model => model.Description)

        @Html.EditorFor(model => model.StartDate)

        @Html.EditorFor(model => model.EndDate)

        @Html.EditorFor(model => model.VideoTime)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </div>
    </div>
}