@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Geo.Grid.Tainan.OpenGov.Entity.AspNetUsers>

<div class="container-fluid">
    <table class="table table-bordered table-striped table-hover">
        <caption class="text-right">

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
            {

                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                DisplayLinkToNextPage = PagedListDisplayMode.Never,
                DisplayLinkToIndividualPages = false,
                DisplayItemSliceAndTotal = true,
                ItemSliceAndTotalFormat = "顯示: {0} ~ {1} , 共 {2}"
            })

        </caption>
        <tr>
            <th>暱稱</th>
            <th class="w130">email</th>
            <th class="w130">是否授權</th>
            <th class="w130">&nbsp;</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>

                    <td class="keyWordShow">@item.UserName</td>
                    <td class="keyWordShow">@item.Email</td>
                    @{
                        var isAdmin = item.AspNetRoles.Any(x => x.Name == "Admin" || x.Name=="Office") ;
                    }
                    <td>@isAdmin</td>
                    <td>
                        @if (isAdmin)
                        {
                            <input type="button" class="btn btn-danger btn-sm" value="移除管理員" onclick="RemoveAdminRole('@item.Id'); " />
                        }
                        else
                        {
                            @*<input type="button" class="btn btn-primary btn-sm" value="設為管理員" onclick="AddAdminRole('@item.Id'); " />*@
                            <input type="button" class="btn btn-primary btn-sm" value="設為管理員" onclick="AddRole('@item.Id')" />
                        }
                        
                    </td>
                </tr>
            }
        }
    </table>
</div>

<div class="container-fluid">
    <div class="col-md-9 col-lg-9 text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
    <div class="col-md-3 col-lg-3 text-left">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
        DisplayLinkToNextPage = PagedListDisplayMode.Never,
        DisplayLinkToIndividualPages = false,
        DisplayPageCountAndCurrentLocation = true,
        PageCountAndCurrentLocationFormat = "第 {0} 頁 / 共 {1} 頁"
    })
    </div>
</div>

